.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  font-family:'Merriweather', Courier, monospace;
  
}

table {
  border-collapse: collapse;
  width: 100%;
}
h2{
  font-size: 30px;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 8px;
  font-size: 32px;
  border-radius: 5px;
}

th {
  color: whitesmoke;
  background-color:black;
}

td {
  background-color: rgb(136 231 216);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}
input,input[type="date"]{
  color: rgb(12, 13, 13);
  background-color:#dfeeff;
  width: 100%;
}
button[type="submit"],button[type="button"]{
  background-color: bisque;
  border-radius: 5px;
}
button:hover{
  background-color: red;
}

form * {
  font-size: 28px;
}